{
  "openapi": "3.0.0",
  "info": {
    "version": "2.2607.0",
    "title": "AccuLynx API V2",
    "description": "If you are experiencing issues integrating with this API, please work with your web developer to review your programming before reaching out to us with an issue as we do not provide web development consulting services.\n\nAPI keys are for our customers only. If you are a business that is looking to integrate with AccuLynx, either on behalf of our customers or on your own, please [click here](https://docs.google.com/forms/d/e/1FAIpQLSeTvS614N9crtmFR4PVjgetlTKEhhjVGCFaodP8QLdFG_Qb8Q/viewform) to request access. Failure to do so can result in suspension of the AccuLynx account.\n\nThe AccuLynx API provides customers programmatic access to their data within AccuLynx.\n\nThe base url for these endpoints: is <b>https://api.acculynx.com/api/v2</b>\n\nUsing SwaggerHub, you have the ability to test against a virtual server or you can test against the API itself. The virtual server is a mock server that allows you to test your calls without affecting your production data. Testing against the virtual server will always respond with a fixed response regardless of your inputs. It is provided to give you a production model of the information returned.\n\nTesting against the API requires an API Key and will affect your real production data. Get your API key from your [AccuLynx API page](https://my.acculynx.com/apikeys). From the Servers list box below, select the api.acculynx.com site. When you click on green Authorize button next to the Servers list box, you will be prompted for a Bearer token. Enter your API Key and click Authorize again.\n\nTo make it easier to connect AccuLynx to other applications you use, we have made our Zapier integration publicly available. Instead of contacting us to help you enable the use of Zapier to integrate additional applications with AccuLynx, you can now get started by going to the Zapier website ([https://zapier.com](https://zapier.com)) and searching for the AccuLynx application. Zaps are automated tasks that you run over and over again between AccuLynx and other online applications. We have an action that allows you to pair with a trigger to create leads in AccuLynx and a trigger as well as other actions and triggers coming in the near future! To get started search for AccuLynx on the Zapier website!\n\nIf you don’t already have a Zapier account, create one or log into your [https://zapier.com/account](https://zapier.com/account).\n\nAccuLynx Action ZAP basic documentation: [https://support.acculynx.com/hc/en-us/articles/360034839751-Creating-a-Zap-with-Zapier](https://support.acculynx.com/hc/en-us/articles/360034839751-Creating-a-Zap-with-Zapier)",
    "termsOfService": "https://my.acculynx.com/signin/TermsView",
    "contact": {
      "email": "api@acculynx.com",
      "url": "https://api.acculynx.com/"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://my.acculynx.com/signin/TermsView"
    }
  },
  "servers": [
    {
      "description": "AccuLynx Production Base Url",
      "url": "https://api.acculynx.com/api/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "acculynxCommon",
      "description": "Acculynx common endpoints used to get common data for all the companies within AccuLynx"
    },
    {
      "name": "calendar",
      "description": "Calendar related endpoints"
    },
    {
      "name": "company",
      "description": "Company level endpoints"
    },
    {
      "name": "contacts",
      "description": "Contact related endpoints"
    },
    {
      "name": "diagnostics",
      "description": "API diagnostic endpoints"
    },
    {
      "name": "estimates",
      "description": "Estimate related endpoints"
    },
    {
      "name": "jobs",
      "description": "Job related endpoints"
    },
    {
      "name": "leads",
      "description": "Lead related endpoints"
    },
    {
      "name": "users",
      "description": "User related endpoints"
    },
    {
      "name": "reports",
      "description": "Report plus related endpoints"
    },
    {
      "name": "invoices",
      "description": "Invoice related endpoints"
    },
    {
      "name": "financials",
      "description": "Financial related endpoints"
    },
    {
      "name": "supplements",
      "description": "Supplement related endpoints"
    }
  ],
  "paths": {
    "/acculynx/countries": {
      "get": {
        "summary": "Get AccuLynx Countries",
        "description": "Use this endpoint to get a listing of the countries supported by AccuLynx. <br /> Supported includes values: states",
        "operationId": "getAccuLynxCountries",
        "parameters": [
          {
            "name": "includes",
            "in": "query",
            "description": "Optional fields to include in full with the response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "The id for the Country.",
                            "example": 1
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the Country.",
                            "example": "United States"
                          },
                          "abbreviation": {
                            "type": "string",
                            "description": "The 2 character abbreviation for the Country.",
                            "example": "US",
                            "minLength": 2,
                            "maxLength": 2
                          },
                          "_link": {
                            "type": "string",
                            "description": "The URI of the Country.",
                            "example": "https://api.acculynx.com/api/v2/acculynx/countries/1"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "API Key is invalid or deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "acculynxCommon"
        ]
      }
    },
    "/acculynx/countries/{countryId}": {
      "get": {
        "summary": "Get an AccuLynx Country",
        "description": "Use this endpoint to get a specific country. <br /> Supported includes values: states",
        "operationId": "getAccuLynxCountry",
        "parameters": [
          {
            "name": "countryId",
            "in": "path",
            "description": "The country's identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional fields to include in full with the response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The id for the Country.",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the Country.",
                      "example": "United States"
                    },
                    "abbreviation": {
                      "type": "string",
                      "description": "The 2 character abbreviation for the Country.",
                      "example": "US",
                      "minLength": 2,
                      "maxLength": 2
                    },
                    "_link": {
                      "type": "string",
                      "description": "The URI of the Country.",
                      "example": "https://api.acculynx.com/api/v2/acculynx/countries/1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "API Key is invalid or deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "acculynxCommon"
        ]
      }
    },
    "/acculynx/countries/{countryId}/states": {
      "get": {
        "summary": "Get States",
        "description": "Use this endpoint to get the states supported by AccuLynx for a country. <br /> Supported includes values: states",
        "operationId": "getAccuLynxStates",
        "parameters": [
          {
            "name": "countryId",
            "in": "path",
            "description": "The country's identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "The id for the state.",
                            "example": 43
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the State.",
                            "example": "Texas"
                          },
                          "abbreviation": {
                            "type": "string",
                            "description": "The 2 character abbreviation for the State.",
                            "example": "TX",
                            "minLength": 2,
                            "maxLength": 2
                          },
                          "_link": {
                            "type": "string",
                            "description": "The URI of the State.",
                            "example": "https://api.acculynx.com/api/v2/acculynx/countries/1/states/43"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "API Key is invalid or deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "acculynxCommon"
        ]
      }
    },
    "/acculynx/countries/{countryId}/states/{stateId}": {
      "get": {
        "summary": "Get a particular state",
        "description": "Use this endpoint to get a specific state within a specific country. <br />",
        "operationId": "getAccuLynxState",
        "parameters": [
          {
            "name": "countryId",
            "in": "path",
            "description": "The country's identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "stateId",
            "in": "path",
            "description": "The state's identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The id for the state.",
                      "example": 43
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the State.",
                      "example": "Texas"
                    },
                    "abbreviation": {
                      "type": "string",
                      "description": "The 2 character abbreviation for the State.",
                      "example": "TX",
                      "minLength": 2,
                      "maxLength": 2
                    },
                    "_link": {
                      "type": "string",
                      "description": "The URI of the State.",
                      "example": "https://api.acculynx.com/api/v2/acculynx/countries/1/states/43"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "API Key is invalid or deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "acculynxCommon"
        ]
      }
    },
    "/acculynx/units-of-measure": {
      "get": {
        "summary": "Get units of measure",
        "description": "Use this endpoint to get the list of the catalog units of measure.",
        "operationId": "getAcculynxUnitsOfMeasure",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "unitsOfMeasure": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                            "description": "Unit of measure unique identifier"
                          },
                          "name": {
                            "description": "The name of the unit of measure.",
                            "type": "string",
                            "example": "YD"
                          },
                          "friendlyName": {
                            "description": "The friendly name of the unit of measure.",
                            "type": "string",
                            "example": "Yarda"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "API Key is invalid or deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "acculynxCommon"
        ]
      }
    },
    "/calendars": {
      "get": {
        "summary": "Calendar List",
        "description": "Use this endpoint to get a list of calendars for the location. This endpoint will return a paginated response starting from the given record index.",
        "operationId": "getCalendars",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many items to be returned at a time.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "recordStartIndex",
            "in": "query",
            "description": "The index of the first element to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "The total number of unfiltered items."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The requested or default page size."
                        },
                        "pageStartIndex": {
                          "type": "integer",
                          "description": "The requested or default index of the first element to return."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The unique ID of the Calendar.",
                                "format": "uuid",
                                "example": "fa3b4dce-d1a9-4fb7-84d6-192e139f15b2"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the Calendar.",
                                "example": "Location Calendar"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "API Key is invalid or deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "416": {
            "description": "The range of data requested from the resource is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "calendar"
        ]
      }
    },
    "/calendars/{calendarId}/appointments": {
      "get": {
        "summary": "Calendar Appointments Summary",
        "description": "Use this endpoint to get a list of appointments for the specified calendar. The request range should not exceed 90 days.",
        "operationId": "getAppointments",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "The calendar's unique identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many items to be returned at a time.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageStartIndex",
            "in": "query",
            "description": "The index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the query, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the query, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "The total number of unfiltered items."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The requested or default page size."
                        },
                        "pageStartIndex": {
                          "type": "integer",
                          "description": "The requested or default index of the first element to return."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "The unique GUID of the calendar event.",
                                "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                              },
                              "title": {
                                "type": "string",
                                "description": "The name of the calendar event.",
                                "example": "Initial Appointment"
                              },
                              "start": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2023-12-07T16:03:47Z",
                                "description": "The start date/time of the event."
                              },
                              "end": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2024-01-07T16:03:47Z",
                                "description": "The end date/time of the event."
                              },
                              "allDay": {
                                "type": "boolean",
                                "description": "Whether the event is an all day event."
                              },
                              "jobId": {
                                "type": "string",
                                "description": "The unique GUID of the job associated with the event, if any.",
                                "example": "b4c09ad6-1d53-4a34-8a45-d989660e12d8"
                              },
                              "jobName": {
                                "type": "string",
                                "description": "The name of the job associated with the event, if any.\\",
                                "example": "RC-2120: John Smith"
                              },
                              "location": {
                                "type": "string",
                                "description": "The address where the appointment is to take place.",
                                "example": "123 Pleasant Grove Road, \\nACity, IL, 12345"
                              },
                              "notes": {
                                "type": "string",
                                "description": "other information related to the appointment.",
                                "example": "Customer contact information:\\nCompany Name- Contact Name\\nJob: N/A\\n1234 Pleasant Grove Road, \\nACity, IL, 12345\\n(555) 123-45671 - mobile - Primary\\nmyemail@myprovider.net - Primary\\n"
                              },
                              "eventType": {
                                "type": "string",
                                "enum": [
                                  "Personal",
                                  "Initial Appointment",
                                  "Material Order",
                                  "Labor Order"
                                ]
                              },
                              "_link": {
                                "type": "string",
                                "description": "The URI of the this calendar event.",
                                "example": "https://api.acculynx.com/api/v2/calendars/58ca0eab-7882-46a6-8456-854beae8fb4a/appointments/3fa85f64-5717-4562-b3fc-2c963f66afa6"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The query parameters are invalid."
          },
          "404": {
            "description": "The given calendar was not found."
          },
          "416": {
            "description": "The value for the pageStartIndex query parameter is outside the range of the return values."
          }
        },
        "tags": [
          "calendar"
        ]
      }
    },
    "/calendars/{calendarId}/appointments/{appointmentId}": {
      "get": {
        "summary": "Get Appointment Details",
        "description": "Use this endpoint to get the appointment details for a specific calendar event.",
        "operationId": "getAppointmentById",
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "The calendar's unique identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "appointmentId",
            "in": "path",
            "description": "The appointment's unique identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The unique GUID of the calendar event.",
                      "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    },
                    "title": {
                      "type": "string",
                      "description": "The name of the calendar event.",
                      "example": "Initial Appointment"
                    },
                    "start": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2023-12-07T16:03:47Z",
                      "description": "The start date/time of the event."
                    },
                    "end": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-07T16:03:47Z",
                      "description": "The end date/time of the event."
                    },
                    "allDay": {
                      "type": "boolean",
                      "description": "Whether the event is an all day event."
                    },
                    "jobId": {
                      "type": "string",
                      "description": "The unique GUID of the job associated with the event, if any.",
                      "example": "b4c09ad6-1d53-4a34-8a45-d989660e12d8"
                    },
                    "jobName": {
                      "type": "string",
                      "description": "The name of the job associated with the event, if any.\\",
                      "example": "RC-2120: John Smith"
                    },
                    "location": {
                      "type": "string",
                      "description": "The address where the appointment is to take place.",
                      "example": "123 Pleasant Grove Road, \\nACity, IL, 12345"
                    },
                    "notes": {
                      "type": "string",
                      "description": "other information related to the appointment.",
                      "example": "Customer contact information:\\nCompany Name- Contact Name\\nJob: N/A\\n1234 Pleasant Grove Road, \\nACity, IL, 12345\\n(555) 123-45671 - mobile - Primary\\nmyemail@myprovider.net - Primary\\n"
                    },
                    "eventType": {
                      "type": "string",
                      "enum": [
                        "Personal",
                        "Initial Appointment",
                        "Material Order",
                        "Labor Order"
                      ]
                    },
                    "_link": {
                      "type": "string",
                      "description": "The URI of the this calendar event.",
                      "example": "https://api.acculynx.com/api/v2/calendars/58ca0eab-7882-46a6-8456-854beae8fb4a/appointments/3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "API Key is invalid or deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "calendar"
        ]
      }
    },
    "/company-settings": {
      "get": {
        "summary": "Get Company Settings.",
        "description": "Use this endpoint to get a list of settings for the current location.",
        "operationId": "getCompanySettings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The company's unique identifier.",
                      "example": "efd4b385-f9f8-41b6-a984-1d421b693fe1"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the company."
                    },
                    "timeZoneInfo": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The standard name of the timezone.",
                          "example": "Central Standard Time"
                        },
                        "daylightName": {
                          "type": "string",
                          "description": "The name of the timezone for Daylight Saving Time.",
                          "example": "Central Daylight Time"
                        },
                        "baseUtcOffset": {
                          "type": "string",
                          "description": "The standard UTC offset of the timezone.",
                          "example": "-06:00:00"
                        },
                        "adjustedUtcOffset": {
                          "type": "string",
                          "description": "The current UTC offset of the timezone, accounting for Daylight Saving Time if currently active.",
                          "example": "-05:00:00"
                        },
                        "supportsDaylightSavingTime": {
                          "type": "boolean",
                          "description": "Whether of not the timezone supports Daylight Saving Time."
                        }
                      }
                    },
                    "hasInsurance": {
                      "type": "boolean",
                      "description": "Whether the company has the insurance setting enabled."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "API Key is invalid or deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "company"
        ]
      }
    },
    "/company-settings/custom-fields": {
      "get": {
        "summary": "Get Custom Field Definitions",
        "description": "Use this endpoint to retrieve custom field definitions and the options related to each custom field definition by company.  Returns Custom Field Definitions for types \"contact\" and \"job\" with only active status. Includes field options with active status by default. Custom Field Definitions are returned by grouped by field type . StartIndex starts at 0. Default PageSize is 25. Pagination parameters are optional. You can filter by type 'jobs' or 'contacts'. By default both filters are included. `e.g. ?filter=jobs`.  Valid includes are 'user'. `e.g. ?includes=user` ",
        "operationId": "getCompanySettingsCustomFields",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter custom field definitions by type. When not specified, returns both job and contact custom field definitions.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "jobs",
                "contacts"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many items to be returned at a time.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "recordStartIndex",
            "in": "query",
            "description": "The index of the first element to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional fields to include in full with the response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "The total number of unfiltered items."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The requested or default page size."
                        },
                        "pageStartIndex": {
                          "type": "integer",
                          "description": "The requested or default index of the first element to return."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "The unique identifier of the custom field definition.",
                                "example": "e5e7f960-f4c3-481d-93d3-0fc2b44efa41"
                              },
                              "_link": {
                                "type": "string",
                                "description": "The unique URI of the custom field definition.",
                                "example": "https://api.acculynx.com/api/v2/company-settings/custom-fields/e5e7f960-f4c3-481d-93d3-0fc2b44efa4"
                              },
                              "label": {
                                "type": "string",
                                "description": "The display label of the custom field definition.",
                                "example": "Customer Preference"
                              },
                              "entityType": {
                                "example": "job",
                                "type": "string",
                                "enum": [
                                  "contact",
                                  "job"
                                ],
                                "description": "Specifies the entity type (job, contact) for the custom field."
                              },
                              "fieldType": {
                                "example": "Text",
                                "type": "string",
                                "enum": [
                                  "Text",
                                  "Number",
                                  "Date",
                                  "Boolean"
                                ],
                                "description": "Specifies the data type (text, number, date, boolean) for the custom field."
                              },
                              "isActive": {
                                "type": "boolean",
                                "description": "Whether the custom field definition is active.",
                                "example": true
                              },
                              "options": {
                                "type": "array",
                                "description": "The available options for dropdown-type custom fields.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "The unique identifier of the custom field option.",
                                      "format": "uuid",
                                      "example": "a1b2c3d4-5e6f-7890-abcd-ef1234567890"
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "The value of the custom field option.",
                                      "example": "option_1"
                                    },
                                    "isActive": {
                                      "type": "boolean",
                                      "description": "Whether the custom field option is active.",
                                      "example": true
                                    },
                                    "sortOrder": {
                                      "type": "integer",
                                      "description": "The sort order of the custom field option.",
                                      "example": 1
                                    }
                                  }
                                }
                              },
                              "modifiedBy": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "The unique GUID of the AccuLynx User.",
                                    "format": "uuid",
                                    "example": "228db892-3b49-4455-b839-ffd8576d8731"
                                  },
                                  "_link": {
                                    "type": "string",
                                    "description": "The unique URI of the AccuLynx User.",
                                    "example": "https://api.acculynx.com/api/v2/users/228db892-3b49-4455-b839-ffd8576d8731"
                                  }
                                },
                                "description": ""
                              },
                              "modifiedDate": {
                                "type": "string",
                                "description": "The date/time the custom field definition was last modified, in UTC format.",
                                "format": "date-time",
                                "example": "2023-07-29T17:48:59Z"
                              },
                              "createdDate": {
                                "type": "string",
                                "description": "The date/time the custom field definition was created, in UTC format.",
                                "format": "date-time",
                                "example": "2023-07-29T17:48:59Z"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "API Key is invalid or deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Not enough permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "416": {
            "description": "The range of data requested from the resource is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "company"
        ]
      }
    },
    "/company-settings/job-file-settings/document-folders": {
      "get": {
        "summary": "Get Documents Folders",
        "description": "Use this endpoint to get the document folders for a company.  This endpoint will return a paginated response starting from the given record index.",
        "operationId": "getCompanyDocumentFolders",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many items to be returned at a time.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "recordStartIndex",
            "in": "query",
            "description": "The index of the first element to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "return jobs in Ascending (default) or Descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Ascending",
                "Descending"
              ],
              "default": "Ascending"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "The total number of unfiltered items."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The requested or default page size."
                        },
                        "pageStartIndex": {
                          "type": "integer",
                          "description": "The requested or default index of the first element to return."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "documentFolderId": {
                                "type": "string",
                                "format": "uuid",
                                "description": "The unique ID of the folder for the document",
                                "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the Folder.",
                                "example": "Folder Name"
                              },
                              "companyId": {
                                "type": "string",
                                "format": "uuid",
                                "description": "The unique ID of the company",
                                "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                              },
                              "description": {
                                "type": "string",
                                "description": "Description about the folder"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            },
            "links": {
              "AddJobDocument": {
                "description": "The `items[n].documentFolderId` values returned in the response can be used in the `documentFolderId` parameter in `POST /jobs/{jobId}/documents`.",
                "operationId": "addJobDocument",
                "parameters": {
                  "tags": "tagId1, tagId2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "API Key is invalid or deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "416": {
            "description": "The range of data requested from the resource is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "company"
        ]
      }
    },
    "/company-settings/job-file-settings/photo-video-tags": {
      "get": {
        "summary": "Get Company Photo and Video Tags.",
        "description": "Use this endpoint to get a list of the photo and video tags for the current location.  The response is paginated based on the pageSize and StartIndex query parameters starting from the given record index and sorted by based on tag name in the order given by the sortOrder query parameter.  All the query parameters are optional.  pageSize defaults to 50.",
        "operationId": "getPhotoVideoTags",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many items to be returned at a time.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "recordStartIndex",
            "in": "query",
            "description": "The index of the first element to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "return jobs in Ascending (default) or Descending order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Ascending",
                "Descending"
              ],
              "default": "Ascending"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "description": "The total number of unfiltered items."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The requested or default page size."
                        },
                        "pageStartIndex": {
                          "type": "integer",
                          "description": "The requested or default index of the first element to return."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "name of tag."
                                  },
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            },
            "links": {
              "AddJobPhotoOrVideo": {
                "description": "The `items[n].id` value returned in the response can be used in the `tags` parameter in `POST /jobs/{jobId}/photos-videos`.",
                "operationId": "addJobPhotoOrVideo",
                "parameters": {
                  "tags": "tagId1, tagId2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "API Key is invalid or deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "416": {
            "description": "The range of data requested from the resource is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "company"
        ]
      }
    },
    "/company-settings/location-settings/account-types": {
      "get": {
        "summary": "Get Company Active Account Types.",
        "description": "Use this endpoint to get a list of 'active' Account Types for the current company.",
        "operationId": "getActiveAccountTypes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "9b95199e-c161-41f3-8a09-3923791e0b73",
                                "description": "The account type's unique identifier."
                              },
                              "_link": {
                                "type": "string",
                                "description": "The unique URI for this account type resource.",
                                "example": "https://api.acculynx.com/v2/company-settings/location-settings/account-types/9b95199e-c161-41f3-8a09-3923791e0b73"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the account type."
                              },
                              "IsActive": {
                                "type": "boolean",
                                "description": "The status of the account type."
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "API Key is invalid or deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
                      "type": "string",
                      "description": "An identifier that may be useful to AccuLynx support",
                      "example": "|40f2a8f1-4db865dd47a69226."
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "status"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The URI of an explanation of the error",
                      "example": "https://tools.ietf.org/html/rfc7235#section-3.1"
                    },
                    "title": {
                      "type": "string",
                      "description": "Error description",
                      "example": "This error happened."
                    },
                    "status": {
                      "type": "number",
                      "description": "HTTP status code",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Any details available for this error",
                      "example": "More info about this error."
                    },
                    "traceId": {
[...]
